<div class="jumbotron text-center">
  <h1>Add new comment to the post</h1>
  <div>
    <form class="form-commenting">
      <div class="form-group">
        <input type="text"
          class="form-control mb-2"
          maxlength="250"
          placeholder="Enter your subject"
          [(ngModel)]="newCommentSubject" 
          name="newCommentSubject">
        <textarea
          class="form-control mb-2"
          maxlength="250"
          placeholder="Enter your comment"
          [(ngModel)]="newContent" 
          name="newContent"
        ></textarea>
        <button class="btn btn-lg btn-primary" [style.opacity]="authService.loggedIn() ? 1 : 0.5" (click)="onCommentSubmit()">Save</button>
        <button class="btn btn-lg btn-primary" [style.opacity]="authService.loggedIn() ? 1 : 0.5" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="post">
  <div *ngIf="post">
      <div class="post-header text-primary">
        <p class="subject">{{ post.subject }}</p>
        <p class="username" (click)="onViewProfile(post)">{{ post.username }} | {{post.timestamp}}</p>
      </div>
      <p class="content text-primary">{{ post.content }}</p>
    </div>
</div>
  
<div>
  <ul>
    <ng-container *ngFor="let comments of comment">
        <div class="comment">
          <div class="comment-header text-primary">
            <p class="subject">{{ comments.subSubject }}</p>
            <p class="username" (click)="onViewProfile(comments)">{{ comments.username }} | {{comments.timestamp}}</p>
          </div>
          <p class="content text-primary"> {{ comments.content }}</p>
          <button class="btn btn-link btn-thumbs-up" (click)="onThumbsUp(comments)">
            <i class="fa fa-thumbs-up"> {{ comments.likeCount }}</i>
          </button>
        </div>
    </ng-container>
  </ul>
</div>








