<div class="jumbotron text-center">
  <div class="userInfo">
    <div *ngIf="user">
      <h2 class="page-header">{{user.name}}</h2>
        <p>Username : {{user.username}} | Email : {{user.email}}</p>
        <p>Member since {{ user.joined}} </p>
        <p> {{user.bio}}</p>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="user">
  <form class="form-bio" (submit)="onUpdateBio()">
    <h3>Bio</h3>
    <textarea
        class="form-control mb-2"
        maxlength="500"
        placeholder="Tell us about yourself..."
        [(ngModel)]="bioContent" 
        name="bioContent"
    ></textarea>
    <button class="btn btn-lg btn-primary" type="submit">Save</button>
    <button class="btn btn-lg btn-primary" type="reset">Cancel</button>
  </form>
</div>