<div class="jumbotron text-center">
  <h1>Add new post</h1>
  <div>
    <form class="form-posting" (submit)="onPostSubmit()">
      <div class="form-group">
        <input type="text"
          class="form-control mb-2"
          maxlength="250"
          placeholder="Enter your subject"
          [(ngModel)]="newSubject" 
          name="newSubject">
        <textarea
          class="form-control mb-2"
          maxlength="250"
          placeholder="Enter your post"
          [(ngModel)]="newPostContent" 
          name="newPostContent"
        ></textarea>
        <button class="btn btn-lg btn-primary" [style.opacity]="authService.loggedIn() ? 1 : 0.5" type="submit">Save</button>
        <button class="btn btn-lg btn-primary" [style.opacity]="authService.loggedIn() ? 1 : 0.5" type="reset">Cancel</button>
    
      </div>
    </form>
  </div>
</div>

<div>
  <h2>Posts</h2>
  <ul>
    <ng-container *ngFor="let post of posts">
        <div class="post">
          <div class="post-header text-primary">
            <p class="subject">{{ post.subject }}</p>
            <p class="username" (click)="onViewProfile(post)"> 
              {{ post.username }} | {{post.timestamp}} </p>
          </div>
          <p class="content text-primary">{{ post.content }}</p>
          <div class="post-footer">
            <button class="btn btn-lg btn-primary" type="submit" (click)="onViewComment(post)">View</button>
            <div class="footer-icons">
              <button class="btn btn-link btn-thumbs-up" (click)="onThumbsUp(post)">
                <i class="fa fa-thumbs-up"> {{ post.likeCount }}</i>
              </button>
              <i class="fa fa-comment"> {{ post.commentCount }}</i>
            </div>
          </div>
        </div>
    </ng-container>
  </ul>
</div>




