.post {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .subject {
    font-size: x-large;
  }
  
  .content {
    font-size: medium;
    margin-top: 5px;
  }

  .post-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
  }

  .footer-icons{
    margin-right: 5px;
    align-items: flex-start;
  }
  .fa-thumbs-up {
    font-size: 26px;
    color: #848b91;
  }

 