<div class="jumbotron text-center">
  <h1>Add new post</h1>
  <div>
    <form class="form-posting" (submit)="onPostSubmit()">
      <div class="form-group">
        <input type="text"
          class="form-control mb-2"
          maxlength="250"
          placeholder="Enter your subject"
          [(ngModel)]="subject" 
          name="subject">
        <textarea
          class="form-control mb-2"
          maxlength="250"
          placeholder="Enter your post"
          [(ngModel)]="post" 
          name="post"
        ></textarea>
        <button class="btn btn-lg btn-primary" type="submit">Save</button>
        <button class="btn btn-lg btn-primary" type="submit">Cancel</button>
    
      </div>
    </form>
  </div>
</div>

<div>
  <h2>Posts</h2>
  <ul class="posts">
    <li *ngFor="let post of posts">

    </li>
  </ul>
</div>



